*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Quicksand',Helvetica, Arial,sans-serif;
    color: #313131;
    line-height: 1.6;
    font-size: 18px;
    text-decoration: none;
}

a:hover{
    color: #84e2a7;
}


body{
    background-image: url(img/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}

/*******PART ONE*******/


.hero{
    position: relative;
    width: 100%;
}

.logo{
    width: 22%;
    padding: 70px;
}

/****NAVBAR****/
.nav-bar{
    background-color: #ffffff;
    width: 800px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    float: right;
    position: relative;
    top: -7vw;
    right: 8vw;
    opacity: 0.8;
}

.vl{
    border-left: 3px solid #84e2a7;
    height: 15px;
    margin: 0 60px;
}

/****NAVBAR****/


/****SOCIAL****/
.social{
    justify-content: center;
    padding: 0 4vw;
}

.vl-sm{
    border-left: 1px solid #ffffff;
    border-radius: 3px;
    height: 13vh;
    margin-left: 0.5vw;
}

.sm-icon{
    padding: 20px 0;
}

.sm-icon i{
    color: #ffffff;
    font-size: 20px;
}

.sm-icon i:hover{
color: #84e2a7;
}

/****SOCIAL****/


/****SMALL NAV****/

.small-n{
    position: absolute;
    top: 23vh;
    left: 8vw;
}

.kontakt, .login, .shop{
    padding: 0 50px;
    color: #ffffff;
}

.small-nav a, .small-nav i{
    color: #ffffff;
}

.small-nav a:hover{
    color: #84e2a7;
}

/****SMALL NAV****/


/**** HEADER HEADLINES ****/

.headline{
    position: absolute;
    top: 29vh;
    left: 28vw;
}

.headline h1{
    font-size: 90px;
    font-family: 'Archivo Black', sans-serif;
    color: #ffffff;
    letter-spacing: 10px;
}

.description{
    position: absolute;
    top: 46vh;
    right: 3vw;
}

.description h2{
    color: #ffffff;
    font-size: 20px;
}

/**** HEADER HEADLINES ****/

/*******PART TWO*******/

.content h1{
    text-align: center;
    margin: 70px auto 30px auto;
    font-size: 24px;
    width: 70%;
    padding: 80px;
}

/**** SEARCH BAR ****/

.search-bar{
    text-align: center;
    justify-content: center;
    position: relative;
    right: 150px;
    width: 100%;
}


#query{
    width: 35%;
    height: 60px;
    border: 1px solid #25ac57;
    border-radius: 50px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 1px 1px 3px 3px rgb(132, 226, 167, 0.3);
}



/****DROPDOWN SELECT ****/
 .cont_select_center {
    position: absolute;
    left: 63%;
    top:4%;
  }
  
  
  .icon_select_mate {
    position: absolute;
    top:15px;
    right: 4%;
    font-size: 16px;
    height: 22px;
    transition: all 275ms;
  }
  
  .select_mate {
    position: relative;
    float: left;
    width: 200px;
    height: 50px;
    color: #84e2a7;
    font-weight: 300;
    background-color: #fff;
    box-shadow: 1px 2px 8px -1px rgba(132, 226, 167, 0.8);
    border-radius: 50px;
    transition: all 375ms ease-in-out;
  }


    select {
    position: absolute;
    overflow: hidden;
    height: 0px;
    opacity: 0;  
    z-index: -1;
    }

  
  .cont_list_select_mate {
    position: relative;
    float: left;
    width: 100%;
  }
  
  .cont_select_int {
   position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background-color: #fff;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
    transition: all 375ms ease-in-out;
  }
  
      li {
      position: relative;
      float: left;
      width: 96%;
      border-bottom:1px solid #E0E0E0;
      background-color: #25ac57;
      list-style-type: none;
      padding: 10px 2%;
      margin: 0px;  
      transition: all 275ms ease-in-out;
      display: block;
      cursor:pointer;
    color: #ffffff;}
          
          &:last-child {
          border-radius: 3px;
          border-bottom:0px; 
          }

           &:hover {
          background-color: #EEEEEE;
           } 
  
     .active {
     background-color: #55dd87;
     }
  
  .selecionado_opcion {
      padding: 13px 2%;
      width: 96%;
      display: block;
      margin: 0px;
      cursor: pointer;
  }

  li:hover{
      background-color: #55dd87;
  }
  

/****DROPDOWN SELECT ****/


#submit-btn{
    position: relative;
    float: right;
    min-width: 200px;
    width: 200px;
    height: 50px;
    color: #ffffff;
    font-weight: 300;
    background-color: #16b13c;
    box-shadow: 1px 2px 8px -1px rgba(132, 226, 167, 0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    right: 13%;
    margin-top: 3px;
  }

  #submit-btn:hover{
      background-color: #25ac57;
  }

  span.form{
   position:relative;
   left: 20%;
   top: 10px;
  }

  .name, .rating, .newest{
      padding: 0 20px;
  }

  /**** SERVICES ****/

  .services{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      text-align: center;
      margin: 80px auto;
      background-color: rgba(245, 255, 247, 0.9);
      border: none;
      box-shadow: 3px 3px 10px 5px rgb(28, 172, 23, 0.1) ;
      padding: 50px;
  }

  .services-two{
      width: 80%;
      position: relative;
      top: -80px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      background-color: rgba(245, 255, 247, 0.9);
      border: none;
      box-shadow: 3px 3px 10px 5px rgb(28, 172, 23, 0.1) ;
      padding: 50px;
      margin: 0 auto;
  }

  .services-item{
      width: 20%;
      vertical-align: top;
      margin: 20px;
  }

  .services-item img{
      width: 15%;
  }

  .services-item h1 a{
      color: #16b13c;
  }

.services-item h1:hover{
    transform: scale(1.1);
    transition: transform .2s ease-in-out;
}

h1.categorie{
    color: #ffffff;
    font-size: 85px;
    position: absolute;
    left: 12%;
    top: 35vh;
}

/**** SERVICES ****/

/***ADD***/

.add{
    justify-content: center;
    text-align: center;
    margin: 50px auto;
    width: 100%;
}

.add p{
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
}

.add-btn{
    width: 200px;
    height: 60px;
    text-align: center;
    background-color: #16b13c;
    border: none;
    border-radius: 50px;
    padding: 15px;
    margin: 30px auto;

}

.add-btn:hover{
    transform: scale(1.1);
    transition: transform .5s ease-in-out;
    background-color: #25ac57;
}

.add a{
    color: #ffffff;
}

#add-two{
    position: relative;

}
/***ADD***/

/*** ASIDE ***/

.rat-ad{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.rating{
    width: 30%;
}

.rating-item{
    width: 100%;
    margin: 50px 50px;
    min-height: 400px;
    background-image: url(img/rating.jpg);
    border: 5px solid #ffffff;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 5px rgb(28, 172, 23, 0.3);
    position: relative;
    
}

.rating-item h3{
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
}

.devider{
    margin: 20px auto;
    width: 80%;
}

.about{
    width: 60%;
    margin-top: 200px;
}

.about h1{
    width: 70%;
    text-align: center;
    justify-content: center;
    margin-left: 200px;
    font-size: 25px;
}

.ct-btn{
    width: 200px;
    height: 60px;
    text-align: center;
    background-color: #16b13c;
    border: none;
    border-radius: 50px;
    padding: 15px;
    top: 20px;
}

.ct-btn a{
    color: #ffffff;
}

.ct-btn:hover{
    transform: scale(1.1);
    transition: transform .5s ease-in-out;
    background-color: #25ac57;
    
}

.advertisment{
    margin-top: 100px;
}
.advertisment-item{
    margin-top: 10px;
}

.advertisment-item img{
    width: 60%;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 3px rgb(28, 172, 23, 0.3);
}

.advertisment-item img:hover{
    transform: scale(1.1);
    transition: transform .5s ease-in-out;
}



/* FOOTER START */
.footer{
    background-image: url(img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    padding: 40px 10px;
  }
  
  .footer .footer-logo,
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  .footer h3{
    color:#ffffff;
    font-size: 36px;
    margin: 0;
  }
  
  .footer-logo{
    width: 20%;
    margin: 0 30px;
  }
  
  .footer img{
    width: 60%;
    margin-left: 20px;
  }

  .footer .footer-left{
    width: 25%;
  }
  
  .footer .footer-left i{
    text-align: center;
    line-height: 36px;
    margin: 15px 15px;
    vertical-align: middle;
    font-size: 22px;
    color: #ffffff;
  }
  
  .footer .footer-left i.fa-envelope{
    font-size: 20px;
    line-height: 37px;
  } 
  
  .footer .footer-left p{
    display: inline-block;
    color: #ffffff;
    font-weight: normal;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer .footer-left p a{
    color: #ffffff;
  }
  
  .footer .footer-left p a:hover{
    color: #84e2a7;
  }
  
  .footer .footer-left p span{
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer .footer-center{
    margin-top: 50px;
    width: 25%;
  }

  .footer .footer-center p{
      color: #ffffff;
  }
  
  .foo-btn{
      background-color: #ffffff;
      width: 150px;
      height: 40px;
      border: 1px solid #84e2a7;
      border-radius: 20px;
  }

  a.foo-btn{
    color: #84e2a7;
  }


  .footer .footer-right{
    width: 20%;
    margin-top: 20px;
    margin-left: 50px;
  }

  .foo-icon{
      margin: 40px 30px;
  }

  .foo-icon i{
      color: #ffffff;
      font-size: 30px;
      margin-top: 40px;
  }

  .foo-icon i:hover{
      color: #84e2a7;
  }

  .footer .footer-company{
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin-top:50px;
    margin-left: 37px;
  }
  
  hr{
    border: 1px solid #ffffff;
    width: 100%;
    opacity: 0.4;
  }
  
  .copy{
    color: #ffffff;
    font-size: 14px;
    padding-top: 15px;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
  }

  .copy a{
      font-size: 14px;
      color: #84e2a7;
  }

  .copy a:hover{
      color: #ff005c;
  }
  /* FOOTER END */


/****MODAL ****/
  




